body.index {
  background: url(test.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin-top:0px;
    margin-left:210px;
    margin-right:0px;
    padding:0px:

}


.article{
    width:70%;
    background-color: none;
    opacity: 1;
    color: white;
    display:inline-block; 
    padding:0px; 
    margin-left:-4px; 
}

div.article:hover {
    background: rgba(255, 122, 89, 1);
    padding: 0px;
    margin-top:0px;
    margin-bottom:0px;
    opacity: 1;
}




h1 {
    color:white;
}



.sidebar{
    position:absolute;
    top:0; bottom:0; left:0;
	width:200px;
	height:105vh;   /*fudges to not have margin in window*/
    margin-left:-210px;   /*fudges to not have margin in window*/
    margin-top:-50px;
    background:#ffffe6;
    display: none;
    opacity:0;
    overflow:auto;
    

}

.one{
    height: 100px;
    width: 140px;
    float: left;
    line-height:150px; /*vertical align did not work don know why*/
    opacity:1;
    c-webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
    font-family: OBLIVIOUSFONT;   
    text-decoration: none;  /*removes underline href*/
    margin-left:5px;
    margin-top:50px;
}


/*https://stackoverflow.com/questions/12992183/css-transition-fade-on-hover*/
.sidebar:hover{
    opacity:1.0;
    -webkit-transition: opacity .5s;
}


img {
    display: inline-block;
    vertical-align: middle;
    margin-left: -180px;
    height: auto; 
    width: auto;
    margin-top:20px; 
    max-width: 100px; 
    max-height: 120px;
}


/*https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a*/
.showhim:hover .sidebar{
display : block;
  }



.showhim{
    position:absolute;
}




a.article{
  color: #0000ff;
  background-color: transparent;
  text-decoration: none;
}



a.article:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
