.home-body, .cv-body {
  background: url(./italian.png) no-repeat center center fixed; 
    /* Full height */
  background-size: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}


.button1{
 width:25%;
 height: 20vh;
 background-color: #7D0682;
 color:white;
 font-family: 'cursive'; 
 font-size: 40px;

}

