body.science {
    background-color: #4f5450;
    background-image: url('../Filler_Triangles.svg');
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    background-size: 30%;
    background-position: right;
    margin-top:0px;
    margin-left:210px;
    margin-right:0px;
    padding:0px:

}





div.container{
    opacity: 1;
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;
    height: 60px;
    background-color: none;
}



div.article{
    /*https://stackoverflow.com/questions/20383622/width-equal-to-content*/
    background-color: none;
    opacity: 1;
    color: #feffb3;
}

div.abstract {
    color: #feffb3;
    width: 100%;
    display: block;
}

div.abstract:hover {
    color: #4f5450;
    background-color: #feffb3;
}


div.header{
    color: #fffccf;
    padding: 20px;
    width: 50%;
}


div.overlay {
  z-index: 9;
  background-color: #feffb3;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #4f5450;
  display: none;
  opacity:1;
  width: 20%;
  height: 100%;
  float: right;
  padding-top: 20%;
  padding-left: 5%;
  padding-right:5%;
}



div.abstract:hover + div.overlay {
  /*https://www.w3schools.com/howto/howto_css_display_element_hover.asp*/
  display: inline;
}




a.article{
  color: #51addb;
  background-color: transparent;
  text-decoration: none;
}

a.article:hover {
  text-decoration: underline;
}





